body{
    margin: 40px auto;
    max-width: 1300px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    padding: 10px;
    background-color: #FCEFF9;

}

h1{
    margin: 10px;
}
fieldset {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
button {
    font-size: 16px;
    height:40px;
    width: 80px;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 30px;
    padding: 0.1rem;
    margin: 5px;
}

button:hover {
    background-color: #FCEFF9;
  }

p {
    padding: 10px;
}

.text {
    width: 314px;
    height: 35px;
    font-family: 'PT Mono', monospace;
    border: none;
    border-radius: 3px;
}

footer{
    background-color: #93C0A4;
    border-radius: 10px;
    padding: 10px;
    display: flex;

}

#post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    text-align: center;
    background-color: #93C0A4;
     
}


#posts{    
    outline: #FCEFF9 solid 5px;
}
.post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    outline: #FCEFF9 solid 5px;
    border-radius: 40px;
}

#header{
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#content{
    order: 2;
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#year{ 
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

#author{
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

#genre{ 
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

#on_loan{
    background-color:#FCEFF9;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

#search{
    font-size: 25px;
    height: 50px;
    width: 400px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 0.1rem;
    margin: 5px;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #93C0A4;
    max-width: 750px;
    max-height: 750px;
    padding-left: 300px;
    padding-right: 300px;
}

#register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #93C0A4;
    max-width: 750px;
    max-height: 750px;;
    padding-left: 300px;
    padding-right: 300px;
}


