body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #93C0A4;
    padding: 0 10px;
    background-color: #FCEFF9;

}
h1,h2,h3 {
    line-height: 1.2
}
fieldset {
    border: none;
}
label {
    width: 140px;
    display: inline-block;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
button {
    font-size: 16px;
    height:40px;
    width: 150px;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 3px;
}
p {
    padding: 15px;
}
.text {
    width: 314px;
    height: 35px;
    font-family: 'PT Mono', monospace;
    border: none;
    border-radius: 3px;
}
